// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// $purple: #8A4D76;
$purple: rgb(94,34,195);
$pink: #FA7C91;
$brown: #757763;
$yellow: rgb(253,187,45);
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$secondary: $beige-light;
$info: $brown;
$link: $pink;
$warning: $yellow;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

// Import the rest of Bulma
// @import "../path/to/bulma";
// @import "../node_modules/bulma/css/bulma.css";
@import "bulma";